# Replace <MARIADB DIR> with your MariaDB install
[mysqld]
basedir = <MARIADB DIR>
datadir = <MARIADB DIR>/data
port    = 3306
socket  = <SOCKET>
user    = agpmastersystem
pid-file = <MARIADB DIR>/data/mariadb.pid
log-error = <MARIADB DIR>/data/mariadb.err
init_file = <MARIADB DIR>/init.sql

bind-address      = 127.0.0.1
max_connections   = 1024            
thread_cache_size = 32
table_open_cache  = 2048
open_files_limit  = 65536       

default_storage_engine     = MyISAM
default_tmp_storage_engine = MyISAM  

transaction_isolation      = READ-COMMITTED
character-set-server = utf8mb4
collation-server     = utf8mb4_general_ci

slow_query_log      = ON
slow_query_log_file = <MARIADB DIR>/data/slow.log
long_query_time     = 2

tmp_table_size                 = 32M
max_heap_table_size            = 32M

plugin_maturity = gamma
plugin_load_add = ha_tidesdb.so

tidesdb_block_cache_size                       = 32G

tidesdb_unified_memtable                       = ON
tidesdb_unified_memtable_write_buffer_size     = 512M  

tidesdb_unified_memtable_sync_mode             = NONE
tidesdb_default_sync_mode                      = NONE
tidesdb_default_compression                    = NONE

#flush threads scale with cpu
tidesdb_flush_threads                          = 0
tidesdb_compaction_threads                     = 8

#unlimited
tidesdb_max_open_sstables                      = 0

tidesdb_skip_unique_check = ON
tidesdb_default_bloom_fpr = 10

#optimistic
tidesdb_pessimistic_locking = OFF

tidesdb_log_level                              = NONE
tidesdb_default_l0_queue_stall_threshold       = 15
tidesdb_default_l1_file_count_trigger          = 8
tidesdb_default_tombstone_density_trigger      = 5000
tidesdb_default_tombstone_density_min_entries  = 2048

tidesdb_max_memory_usage = 0

[client]
port                  = 3306
socket                = <SOCKET>
default-character-set = utf8mb4

[mysqldump]
quick
max_allowed_packet = 64M

[mariadb-backup]

[mysqld_safe]
# if you want jemalloc, tidesdb and tidesql need to be built with jemalloc 
# malloc-lib=/lib/x86_64-linux-gnu/libjemalloc.so.2